# Copie para .env (Expo carrega EXPO_PUBLIC_* automaticamente)
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
# URL do CRM web (produção) ou http://<IP-do-PC>:3000 em dev na mesma rede
EXPO_PUBLIC_API_URL=
